body {
    background-color: Green;
    color: aquamarine
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.row {   
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}