body {
    background-color: Black;
    color: White;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row {   
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: start;
    width: 95%;
    margin: 30px 0px;
}
.text {
    margin: 4px 50px;

}

h1 {
    color: rgb(0, 255, 0);
    font-family:systen-ui;
}

a:link { color:aqua; }
a:visited { color:lightskyblue; }
a:hover { color:yellow; }
a:active { color:yellowgreen; }
hr {
    border-top: 6px solid white;
    width: 100%;
}